.about-us {
  margin: 32px 0;

  &-inner {
    &__title {
      font-size: 34px;
      font-weight: 500;
      margin: 0 0 16px 0;
    }

    &__descr {
      font-size: 14px;
      font-weight: 500;
    }

    &__descr-1 {
      padding: 0 0 24px 0;
      border-bottom: 2px solid $black;
    }

    &__descr-2 {
      margin: 24px 0;
    }

    &__btn {
      color: $black;
      font-size: 16px;
      font-weight: 500;
      border-radius: 6px;
      border: 2px solid $green;
      padding: 10px 26.5px;
      display: inline-block;
      font-family: 'Tektur', cursive;
    }

    &__btn:hover {
      background-color: $green;
      color: $white;
    }

    &__content {
      margin: 0 0 32px 0;
    }

    &__img {
      width: 100%;
      height: 496px;
      object-fit: cover;
    }

  }
}

.advantages {
  background-color: $black;

  &-inner {
    padding: 32px 16px;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      &-item {
        border-radius: 24px;
        border: 2px solid $pink;
        width: 237px;
        height: 180px;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Tektur, sans-serif;
        font-size: 32px;
        font-weight: 500;
        gap: 4px;

        span {
          font-size: 16px;
          text-transform: uppercase;
          font-family: Manrope, sans-serif;
        }
      }
    }

    &__content-img {
      background-color: $white;

    }

    &-img {
      width: 100%;
      padding: 24px 16px 32px 16px;
    }
  }
}

.advantages-inner__list-item:nth-child(1) {
  background-color: $pink;
}

.marquee {
  border: 3px solid $pink;
  border-right: none;
  border-left: none;
  padding: 13px 0 13px 5px;
  color: $green;
  font-family: Tektur, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

marquee {
  display: flex;
  align-items: center;
}
