@media screen and (min-width: 768px) {

  .container {
    width: 768px;
    padding: 0 32px;
  }
  .about-us {
    margin: 64px 0;

    &-inner {
      &__title {
        font-size: 64px;
        letter-spacing: 1.28px;
        margin: 0 0 24px 0;
      }

      &__descr {
        font-size: 18px;
      }

      &__descr-1 {
        padding: 0 0 40px 0;
      }

      &__descr-2 {
        margin: 40px 0 24px 0;
      }

      &__btn {
        padding: 16.5px 80px;
        font-size: 24px;
        font-weight: 600;
      }

      &__content {
        margin: 0 0 64px 0;
      }

      &__img {
        width: 703px;
        height: 676px;
      }

    }
  }
  .advantages {

    &-inner {
      padding: 64px 32px;

      &__list {
        gap: 32px 57px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        //justify-content: center;
        justify-content: flex-end;
        margin: auto;
        width: 704px;

        &-item {
          width: 300px;
          height: 286px;
          font-size: 56px;
          gap: 12px;


          span {
            font-size: 22px;
          }
        }
      }

      &-img {
        width: 100%;
        padding: 32px;
      }
    }
  }
  .advantages-inner__list-item:nth-child(3) {
    margin: 52px 47px 0 0;
  }
  .advantages-inner__list-item:nth-child(4) {
    margin: -50px 0 0 0;
  }

  .marquee {
    padding: 31px 0 31px 20px;
    font-size: 24px;
    margin: 0 0 32px 0;
  }
  .spec-programs-title {
    font-size: 64px;
  }
  .spec-programs-descr {
    font-size: 20px;
    padding: 20px 0 48px 0;
    margin: 0 0 42px 0;
  }
  .spec-programs {
    padding: 64px 0;
  }
  .spec-programs-item-title {
    font-size: 40px;
  }
  .spec-programs-list-title {
    font-size: 40px;
  }
  .spec-programs-list-descr {
    font-size: 20px;
    margin: 16px 0 0 0;
  }
  li.spec-programs-item{
    padding: 40px 0;
  }

  .spec-programs-images {
    height: 383px;
    width: 100%;
    position: relative;
    margin: 27px auto 0 auto;
  }

  .spec-programs-img-1 {
    width: 333px;
  }

  .spec-programs-img-2 {
    width: 289px;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1220px) {

  .container {
    width: 100%;
    padding: 0 80px;
  }
  .about-us {
    margin: 64px 0;

    &-inner {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      &__title {
        font-size: 88px;
        letter-spacing: 2.64px;
        margin: 0 0 32px 0;
      }

      &__descr {
        //width: 556px;
        font-size: 22px;
      }

      &__descr-1 {
        padding: 0 0 64px 0;
        border-bottom: 3px solid $black;
      }

      &__descr-2 {
        margin: 64px 0 32px 0;
      }

      &__content {
        margin: 0;
      }

      &__img {
        width: 722px;
        height: 881px;
      }

    }
  }
  .advantages {
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 80px 115px 80px;

    &-inner {
      padding: 91px 0 0 0;
      //width: 813px;
      //height: 689px;

      &__list {
        gap: 65px 77px;
        width: 878px;

        &-item {
          width: 368px;
          height: 312px;
          font-size: 80px;
          gap: 24px;

          span {
            font-size: 24px;
          }
        }
      }

      &__content-img {
        background-color: $black;

      }

      &-img {
        //width: 717px;
        //height: 969px;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 90px 0 0 0;
      }
    }
  }
  .marquee {
    padding: 30px 0 30px 20px;
    font-size: 30px;
    margin: 32px 0 32px 0;
  }

  .spec-programs-title {
    font-size: 88px;
  }
  .spec-programs-descr {
    font-size: 22px;
    padding: 32px 0 64px 0;
    margin: 0 ;
  }
.spec-programs-descr-span{
  width: 980px;
  display: block;
}


  .spec-programs {
    padding: 100px 0;
  }
  .spec-programs-item-title {
    font-size: 48px;
  }
  .spec-programs-list-title {
    font-size: 48px;
  }
  .spec-programs-list-descr {
    font-size: 22px;
    margin: 24px 0 0 0;
    width: 867px;
  }
  li.spec-programs-item{
    padding: 64px 0;
  }
}

@media screen and (min-width: 1920px) {

  .container {
    width: 1920px;
    padding: 0 80px;
  }
  .about-us {
    &-inner__content {
      width: 796px;
    }
  }
  .advantages-inner-img {
    margin: -90px 0 0 0;
  }
  section.advantages {
    gap: 173px;
    margin: auto;
  }
  .spec-programs-images {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 400px;
  }

  .spec-programs-img-1 {
    width: 443px;
    position: absolute;
    right: 122px;
    top: 146px;
  }

  .spec-programs-img-2 {
    width: 374px;
    right: 427px;
    top: 528px;
  }
}